* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
#doosra{
    display: inline;
    font-family: HelveticaNeue, ui-sans-serif;
}
html,
body {
    width: 100vw;
    background-color: #000;
    color: white;
    /* height: 100%; */
    overflow-x: hidden;
}

#main {
    width: 100vw;
    overflow: hidden;
}

/* loder */
.loderrr{
width: 100vw;
height: 100dvh;
position: fixed;
display: block;
top: 0;
z-index: 99999;
background-color: #030203;
}
.loderrr video{
    width: 100%;
    height: 100%;
}

/* nav */

.nav {
    width: 100%;
    height: 10vh;
    padding: 0 1.2vw;
    padding-right: 2.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 9, 9);
}

.cennav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav p {
    font-size: .9vw;
    padding: 4px;
}
.nav h4 {
    font-size: 1.1vw;
    padding: 4px;
    cursor: pointer;
}
.nav p:hover {
    background-color: #fff;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow:inset 8px 2px 14px rgb(0,123,175);
}


.nav button {
    height: 4.5vh;
    margin-top: -1vw;
    cursor: pointer;
}

/* button effect */
button {
    width: 8.5vw;
    height: 6.5vh;
    margin-top: 2.5vh;
    border: 1px solid white;
    position: relative;
    outline: none;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

button .kala {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    z-index: 10;
    transition: all .2s;
}

button .white {
    position: absolute;
    width: 120%;
    height: 0%;
    top: -8%;
    left: -15%;
    transform: rotate(90deg);
    transform-origin: left;
    background-color: rgb(0, 0, 0);
    transition: all .2s;
}

button:hover .white {
    transform: rotate(0deg);
    height: 120%;
}

button:hover .kala {
    color: white;
}

/* button effect */


/* p1 */

.page1 {
    width: 100vw;
    height: 54.5vh;
    padding-top: 1.8%;
    text-align: center;
    position: relative;
    background-color: #090b0a;
}

.page1 h1 {
    position: absolute;
    z-index: 9;
    font-size: 18vw;
    font-weight: 100;
    left: 50%;
    top: 78%;
    line-height: .85;
    letter-spacing: -1vw;
    transform: translate(-50%, -50%);
    
}

.page1 h5 {
    position: absolute;
    z-index: 6;
    font-size: 1.45vw;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
}



/* p2 */

.page2 {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.page2 canvas {
    max-width: 100vw;
    max-height: 100vh;
}


/* p3 */

.page3 {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

.page3 .overlay3 {
    text-align: center;
    top: 0;
    padding-top: 10%;
    width: 100%;
    height: 140%;
    position: absolute;
    z-index: 9;
}

.overlay3 h1 {
    font-size: 7.5vw;
    line-height: .9;
    letter-spacing: .8;
    font-weight: 400;
}

.overlay3 h5 {
    margin-top: 4%;
    font-size: 2.4vw;
    font-weight: light;
}

.overlay3 p {
    margin-top: 4%;
    font-size: 1.3vw;
    /* font-weight: light; */
}

.page3 canvas {
    max-width: 100vw;
    max-height: 100vh;
}


/* p4 */

.page4 {
    margin-top: 20%;
    width: 100vw;
    height: 140vh;
    position: relative;
    overflow: hidden;
}

.page4 .overlay4 {
    text-align: center;
    top: 0;
    margin-top: -10%;
    padding-top: 10%;
    width: 100%;
    height: 140%;
    position: absolute;
    z-index: 9;
    /* background-color: rgba(255, 0, 0, 0.457); */
}

.overlay4 h1 {
    font-size: 6.7vw;
    line-height: .95;
    letter-spacing: .8;
    font-weight: 400;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 3%;
}

.boxx {
    width: 33%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.boxx:nth-last-child(1) {
    margin-top: 18%;
}

.box {
    width: 97%;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 30px;
    text-align: start;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.05);
    ;
    border: 1px solid rgba(240, 237, 228, 0.28);
}
.box:hover{
    background-color: rgba(249, 249, 249, 0.15);
}

.box h5 {
    font-size: 1.8vw;
}

.box h2 {
    font-size: 2.5vw;
}

.box p {
    font-size: 1.4vw;
}


.page4 canvas {
    max-width: 100vw;
    max-height: 140vh;
}


/* p5 */

.page5 {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    /* background-color: #fff; */
}

.page5 .overlay5 {
    text-align: center;
    top: 0;
    /* margin-top: -10%; */
    padding-top: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    /* background-color: rgba(255, 0, 0, 0.457); */
}

.overlay5 h1 {
    font-size: 7vw;
    line-height: .9;
    letter-spacing: .8;
    font-weight: 400;
}

.page5 canvas {
    max-width: 100vw;
    max-height: 100vh;
}


/* p6 */

.page6 {
    width: 100vw;
    height: 140vh;
    position: relative;
    /* overflow: hidden; */
}

/* graph imgs */

.overlay6 {
    text-align: center;
    top: 0;
    padding-top: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:center; */
    /* background-color: rgba(255, 255, 0, 0.331); */
}

.overlay6 h1 {
    font-size: 6.7vw;
    letter-spacing: .8;
    font-weight: 400;
}


.gbox {
    width: 58%;
    height: 55vh;
    margin-top: 3%;
    border-radius: 30px;
    padding: .6vw 1.2vw;
    border: 1px solid rgba(240, 237, 228, 0.358);

}

.gbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.disc {
    width: 70%;
    display: flex;
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    line-height: 1;
}

.disc .left {
    width: 48%;
    height: 100%;
    text-align: right;
    font-size: 1.85vw;
}

.disc .right {
    width: 48%;
    height: 100%;
    padding-top: .6%;
    text-align: left;
    font-size: 1.35vw;
}

/* graph imgs */


.page6 canvas {
    max-width: 100vw;
    max-height: 120vh;
}


/* p7 */

.page7 {
    width: 100vw;
    height: 140vh;
    position: relative;
    /* overflow: hidden; */
}

.page7 canvas {
    max-width: 100vw;
    max-height: 120vh;
}



/* p8 */

.page8 {
    width: 100vw;
    height: 140vh;
    position: relative;
    /* overflow: hidden; */
}


.page8 canvas {
    max-width: 100vw;
    max-height: 120vh;
}



/* p9 */

.page9 {
    width: 100vw;
    height: 140vh;
    position: relative;
    /* overflow: hidden; */
}


.page9 canvas {
    max-width: 100vw;
    max-height: 120vh;
}

/* p10 */

.page10 {
    width: 100vw;
    height: 140vh;
    position: relative;
    /* overflow: hidden; */
}


.page10 canvas {
    max-width: 100vw;
    max-height: 120vh;
}

/* p11 */

.page11 {
    width: 100vw;
    height: 110vh;
    position: relative;
    /* overflow: hidden; */
}


/* .page11 canvas {
    max-width: 100vw;
    max-height: 110vh;
} */

/* p12 */

.page12 {
    width: 100vw;
    height: 150vh;
    margin-top: 10%;
    position: relative;
    /* overflow: hidden; */
}

.page12 .overlay12 {
    text-align: center;
    top: 0;

    width: 100%;
    height: 120%;
    position: absolute;
    z-index: 9;
}

.overlay12 h1 {
    font-size: 7vw;
}

.buy {
    width: 100%;
    margin-top: 10%;
    height: 78vh;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 32.5%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(240, 237, 228, 0.28);
    transition: all .5s;
}
.card:hover{
    background-color: rgba(249, 249, 249, 0.25);
}
.card:nth-last-child(1) {
    background-color: whitesmoke;
    color: #000;
    border: 1px solid rgb(145, 140, 140);
}
.card:nth-last-child(1):hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.card:hover {
    transform: translateY(-20px);
}

.cardt {
    width: 100%;
    height: 15%;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 1px solid rgba(240, 237, 228, 0.28);
    justify-content: space-between;
}

.cardt>p {
    font-size: 1.2vw
}

.cardm {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(240, 237, 228, 0.28);
}

.cardb {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subscribe {
    width: 80%;
    height: 6vh;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(240, 237, 228, 0.28);
}
.subscribe:hover {
    background-color: rgb(248, 69, 4);
}

.card:nth-last-child(1) .cardt {
    border-bottom: 1px solid gray;
}

.card:nth-last-child(1) .cardm {
    border-bottom: 1px solid gray;
}

.card:nth-last-child(1) .subscribe {
    border: 1px solid gray;
}


.page12 canvas {
    max-width: 100vw;
    max-height: 110vh;
}

/* p13 */

.page13 {
    width: 100%;
    padding-top: 10%;
    position: relative;
    height: 90vh;
    text-align: center;
}

.page13 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.9vw;
    line-height: .9;
    font-weight: 400;
}

.page13 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* footer */
.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fl {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fl p{
    padding:4px;
    color:white;
    cursor: pointer;
}
.fl p:hover{
    background-color: #fff;
    color:black;
    margin-top: -20px;
    border-radius: 30px;
}

.fr {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

/* =============== */
/* animation  */
/* ============= */
.motion{
    transform-origin: center;
}
.motion2{
    transform-origin: center;
}
.motion3{
    transform-origin: left;
}
.motion4{
    transform-origin: left;
}
.motion5{
    transform-origin: left;
}
.motion6{
    transform-origin: left;
}
.motion7{
    transform-origin: left;
}
.motion8{
    transform-origin: left;
}
.motion9{
    transform-origin: left;
}
.motion10{
    transform-origin: left;
}